<script src="~/Scripts/Views/Home/dialogEditarCampos.js"></script>
<form id="frmdialogEditarCampos" method="post" enctype="multipart/form-data">    
    <label>Field</label>
    <select id="cmbCampos"></select>
</form>